
.headerBorder {
  border-bottom: 1px solid var(--color-gray-300);
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.navList ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navList a {
  color: var(--color-gray-700);
  text-decoration: none;
}

.navList a:hover {
  text-decoration: underline;
}

.navList a.active {
  color: var(--color-gray-900);
}
