/* CSS Reset 
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-50: hsl(210, 20%, 98%);
  --color-gray-100: hsl(210, 17%, 95%);
  --color-gray-200: hsl(210, 15%, 92%);
  --color-gray-300: hsl(210, 12%, 86%);
  --color-gray-400: hsl(210, 10%, 70%);
  --color-gray-500: hsl(210, 8%, 52%);
  --color-gray-600: hsl(210, 7%, 40%);
  --color-gray-700: hsl(210, 6%, 28%);
  --color-gray-800: hsl(210, 5%, 16%);
  --color-gray-900: hsl(210, 4%, 10%);
  --color-black: hsl(0, 0%, 0%);
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 80rem;
  --viewport-padding: 16px;
  --header-height: 5rem;
  --trimmed-content-width: calc(
    var(--content-width) - var(--viewport-padding) * 2
  );
}

@media (min-width: 35rem) {
  html {
    --viewport-padding: 24px;
  }
}

html {
  font-family: var(--font-lato);
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  font-family: var(--font-montserrat);
  font-size: clamp(1.4rem, 4vw + 0rem, 2rem);
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  line-height: 1.4;
}

h3 {
  font-family: var(--font-montserrat);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

@media (min-width: 35rem) {
  p {
    font-size: 1.125rem;
  }
}
