.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.9rem;
  width: 100%;
  margin: 0 auto;

  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.blogCardImgContainer {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
}

.blogCardImgContainer img {
  border-radius: 10px; /* Ensures the image corners stay rounded */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.blogCardTextContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  margin-top: 1rem;
}

.blogTag {
  justify-self: start;
  background-color: var(--color-gray-100, #f3f4f6);
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-gray-700, #374151);
}

.blogCardTextContainer p {
  color: var(--color-gray-600, #4b5563);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
