.wrapper {
  margin-top: 5rem;
}

.wrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.grid {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.grid > * {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

@supports not (grid-template-rows: subgrid) {
  .grid > * {
    display: flex;
    flex-direction: column;
  }
}